numpy
scipy
pillow
tqdm
opencv-python
matplotlib
requests
python-dotenv

torch
open3d
ultralytics
openai

mujoco
glfw
spatialmath-python
roboticstoolbox-python
modern-robotics
pandas

fastapi
uvicorn
python-multipart
